{% extends "layout.jinja2" %}

{% block content %}

{% from 'bootstrap5/form.html' import render_form %}

<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-12 mb-5">
      <h2>Minimal Organisim JCVI-Syn3a PROST Results</h2>
      <p>This page presents PROST analysis of J. Craig Venter Institute (JCVI) <i>Syn3a</i> (minimal organism) <a href="https://doi.org/10.1126/science.aad6253" target="_blank">[1]</a><a href="https://doi.org/10.7554/eLife.36842" target="_blank">[2]</a> genes. Each link in the <i>NCBI ID</i> column opens a detail page for that protein.
Homologs for each protein were found by three different tools: PROST <a href="https://www.biorxiv.org/content/10.1101/2022.03.10.483778v1" target="_blank">[3]</a>, BLAST<a href="https://doi.org/10.1016/S0022-2836(05)80360-2" target="_blank">[4]</a>, and Foldseek<a href="https://doi.org/10.1101/2022.02.07.479398" target="_blank">[5]</a>. Later, a structural alignment tool FATCAT <a href="https://doi.org/10.1093/nar/gkaa443" target="_blank">[6]</a>, is used to get the significance of the structural alignment of the minimal organism protein with its homologs.
The most significant structural homolog named as best homolog shown in this table with its function for reference. A detailed explanation of each column is given below:  </p>
      <ul>
        <li><b>NCBI ID: </b>NCBI identification tag for minimal organism protein. Opens a detail page for that protein.</li>
        <li><b>JCVI ID: </b>JCVI identification tag for the same protein.</li>
        <li><b>Function: </b>Assigned function of the minimal organism protein when it's published. </li>
        <li><b>Classification: </b>Initial classification of minimal organism proteins using the TIGRfam database by its authors <a href="https://doi.org/10.1126/science.aad6253" target="_blank">[1]</a> </li>
        <li><b>Best Homolog: </b>The most significant structural homolog for the minimal organism protein.</li>
        <li><b>Hom. Func.: </b>The function of the most significant structural homolog.</li>
        <li><b>P-Score: </b>The structural similarty statistical significance value produced by FATCAT <a href="https://doi.org/10.1093/nar/gkaa443" target="_blank">[6]</a> structural alignment tool. This value indicates the similarity between the JCVI-Syn3a protein with its closest homolog.</li>
        <li><b>Seq-Id: </b>The sequence identity score produced by the global alignment algorithm using the ProtSub matrix <a href="https://doi.org/10.1002/prot.26050" target="_blank">[7]</a>  with a gap opening of 5 and gap extension 1 penalties.</li>
        <li><b>Hom. Source: </b>The tool that found the most significant structural homolog.</li>
        <li><b>PROST Hom: </b>The number of homologs found by PROST.</li>
        <li><b>BLAST Hom: </b>The number of homologs found by BLAST.</li>
        <li><b>Foldseek Hom: </b>The number of homologs found by Foldseek.</li>
      </ul>
    </div>
    <div class="col-12 mb-5">
    <table id="example" class="table table-striped mt-2 mb-5" style="width:100%">
        <thead>
            <tr>
                <th>NCBI ID</th>
                <th>JCVI ID</th>
                <th>Function</th>
                <th>Classification</th>
                <th>Best Homolog</th>
                <th>Hom. Func.</th>
                <th>P-Score</th>
                <th>Seq. Id.</th>
                <th>Hom. Source</th>
                <th>PROST Hom</th>
                <th>BLAST Hom</th>
                <th>Foldseek Hom</th>
            </tr>
        </thead>
        <tbody>
          {% for p in summary %}
            <tr>
                <td><a href="/result?p={{ p[0] }}" target="_blank">{{ p[0] }}</a></td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td><a href="https://www.uniprot.org/uniprot/{{ p[5] }}" target="_blank">{{ p[5] }}</a></td>
                <td>{{ p[6] }}</td>
                <td>{{ p[7] }}</td>
                <td>{{ p[8] }}</td>
                <td>{{ p[9] }}</td>
                <td>{{ p[10] }}</td>
                <td>{{ p[11] }}</td>
                <td>{{ p[12] }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
      $('#example').DataTable( {
            "columnDefs": [
                { "type": "scientific", targets: 6 }
            ]
        } );
  });
</script>
{% endblock %}
