{% extends "layout.jinja2" %}

{% block content %}

{% from 'bootstrap5/form.html' import render_form %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>Minimal Organisim PROST Results</h2>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-10 col-md-5 order-md-2">
      <div id="viewport1" style="width:400px; height:400px;"></div>
    </div>
    <div class="col-10 col-md-5 order-md-1 mb-5">
      <div id="viewport2" style="width:400px; height:400px;"></div>
    </div>
    <div class="col-10">
        {{ aln }}
    </div>
  </div>
</div>

<script>
  var stage;
  document.addEventListener("DOMContentLoaded", function () {
    stage1 = new NGL.Stage("viewport1", { backgroundColor: "white" });
    stage1.loadFile("/static/AVX54569.1/query.pdb").then(function (o) {
      o.addRepresentation("cartoon", {colorScheme: "sstruc", smoothSheet: true});
      o.autoView();
    });
    stage2 = new NGL.Stage("viewport2", { backgroundColor: "white" });
    stage2.loadFile("/static/AVX54569.1/AF-B3R0R7-F1-model_v2.pdb").then(function (o) {
      o.addRepresentation("cartoon", {colorScheme: "sstruc", smoothSheet: true});
      o.autoView();
    });
  });
</script>
{% endblock %}
