<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }} | PROST</title>
  <link href="{{url_for('static', filename = 'dataTables.bootstrap5.min.css')}}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'ngl.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-3.5.1.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.dataTables.min.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'dataTables.bootstrap5.min.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'scientific.js') }}" ></script>
  {% block pagestyles %}
    {{ bootstrap.load_css() }}
  {% endblock %}
</head>

<body class="d-flex flex-column h-100">
<header>
  {% include "navigation.jinja2" %}
</header>

<main class="flex-shrink-0">
{% from 'bootstrap5/utils.html' import render_icon %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ render_icon('exclamation-triangle-fill', size=24) }}
        {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</main>

  <footer class="footer fixed-bottom py-3 bg-dark">
    <div class="container text-center">
      <span class="text-muted">Mesih Kilinc © 2022. Jernigan Laboratory, Iowa State University.</span>
    </div>
  </footer>

{{ bootstrap.load_js() }}
</body>
</html>
